[submodule "libs/arduinolibs"]
	path = libs/arduinolibs
	url = https://github.com/rweather/arduinolibs
[submodule "libs/Entropy"]
	path = libs/Entropy
	url = https://github.com/pmjdebruijn/Arduino-Entropy-Library
[submodule "libs/CRC32"]
	path = libs/CRC32
	url = https://github.com/bakercp/CRC32
[submodule "libs/Streaming"]
	path = libs/Streaming
	url = https://github.com/janelia-arduino/Streaming
[submodule "libs/RF24"]
	path = libs/RF24
	url = https://github.com/nRF24/RF24
[submodule "libs/RF24Network"]
	path = libs/RF24Network
	url = https://github.com/nRF24/RF24Network
[submodule "libs/RF24Mesh"]
	path = libs/RF24Mesh
	url = https://github.com/nRF24/RF24Mesh
[submodule "libs/arduino-tranceiver-encrypted"]
	path = libs/arduino-tranceiver-encrypted
	url = https://github.com/songokas/arduino-tranceiver-encrypted
[submodule "libs/MemoryFree"]
	path = libs/MemoryFree
	url = https://github.com/McNeight/MemoryFree
[submodule "libs/Arduino-Temperature-Control-Library"]
	path = libs/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libs/ArduinoJson"]
	path = libs/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "libs/pubsubclient"]
	path = libs/pubsubclient
	url = https://github.com/knolleary/pubsubclient
[submodule "libs/OneWire"]
	path = libs/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "libs/ESP8266TrueRandom"]
	path = libs/ESP8266TrueRandom
	url = https://github.com/marvinroger/ESP8266TrueRandom
[submodule "libs/esp8266"]
	path = libs/esp8266
	url = https://github.com/esp8266/Arduino.git
    ignore = dirty
